# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: c0152f552aeb35f5048c8a5dfe8a8530594c994a8ec2f90a98c74cbb9a17e422c60a96f0b6cd51886189d6f9f873a4dfe90b3d33fdcc91917ab190ab304d14eb

test:
  secret_key_base: 09106f8986e5c4dc580e42c390a5d28f55f866cf5bd096aee7541e0f4ec30d7eecfa961b7a38fa5d9e8e4f5c5d212c872ae08a03964bba001e9408d32e035e35

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secretqs
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
